<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ConectionString" value="Data Source=DESKTOP-0D2H5JK\SQLSERVER;Initial Catalog=MaxWarehouse;Integrated Security=true" />
    <add key="LogRelativePath" value="logs"/>
    <add key="LogBaseName" value="Log"/>
    <add key="RutaArchivosOutputs" value="C:\Users\ANTONIO\Documents\Trabajo\Mis Proyectos\ProvisionMensual\Data"/>
    
  </appSettings>
</configuration>
